/** Main MD **/
md-input-container, section {
	display: block;
}

/** Main Content **/
.gwf-main-section {
	overflow: auto;
}

/** Sidebars **//
gwf-left-sidebar, gwf-right-sidebar {
	position: relative;
	width: 20%;
}
gwf-left-sidebar {
	float: left;
}
gwf-right-sidebar {
	float: right;
}
gwf-top-sidebar {
}
gwf-bottom-sidebar {
	
}
