/index.php
/gwf_cronjob.php

/dbimg/*
/temp/*

/protected/logs
/protected/installog
/protected/db_backups
/protected/db_backups_old
/protected/zipped
/protected/db_backup.sh

.htaccess
/bower_components
/module/Websockets
/module/LinkUUp
/module/Download/
/module/Votes/
/module/Maps/
/module/Payment/
/module/PaymentPaypal/
/module/PM/
/module/Avatar/
