/.well-known/

/.project

/.htaccess
/index.php
/gwf_cronjob.php

/dbimg/
/temp/
/private/
/bower_components/
/protected/

/module/Websockets
/module/LinkUUp
/module/Download/
/module/Votes/
/module/Maps/
/module/Payment/
/module/PaymentCredits/
/module/PaymentPaypal/
/module/PM/
/module/Avatar/
/module/Account/
/module/Contact/
/module/Friendlist/
/module/Gallery/
/module/Tamagochi/
/module/News/
/module/Forum/
/module/Shadowlamb/
/module/Cafe/
/module/Dropleet/

/themes/linkuup-app
/themes/linkuup-web
/themes/dropleet

/nbproject/private/
/nbproject/
