/.well-known/

.htaccess
/index.php
/gwf_cronjob.php

/dbimg/
/temp/
/private/
/bower_components/
/protected/

/module/Websockets
/module/LinkUUp
/module/Download/
/module/Votes/
/module/Maps/
/module/Payment/
/module/PaymentPaypal/
/module/PM/
/module/Avatar/
/module/Account/
/module/Friendlist/
 
/themes/classic/
/themes/linkuup-app
/themes/linkuup-web

/nbproject/private/
/nbproject/
