gwf4-flow-drop, gwf4-flow-preview {
	position: relative;
	display: block;
	float: left;
	text-align: center;
	border: 2px dotted #612;
	width: 8em;
	height: 8em;
}

gwf4-flow-preview img {
	display: inline-block;
	width: 8em;
	height: 8em;
}

gwf4-flow-preview .remove-button {
	position: absolute;
	top: 1px;
	right: 1px;
}

gwf4-progress-indicator {
	display: block;
	margin: 0.5em;
}

