* { margin: 0; padding: 0; box-sizing: border-box; text-decoration: none; list-style: none; }
a img { border: 0; display: inline-block; }
ul, ol { list-style: none; }

.gwf_num { font-family: monospace; text-align: right; padding-right: 0.5em; }
.gwf_date { font-family: monospace; text-align: right; padding-right: 0.5em; }
.ce { text-align: center; margin-left: auto; margin-right: auto; }
.ib { display: inline-block; }
.t { display: table; }
.b { display: block; }
.h { display: none; }
.i { display: inline; }
.fl { float: left; }
.fr { float: right; }
.cb { clear: both; }
.cl { clear: left; }
.cr { clear: right; }
.le { text-align: left; }
.ri { text-align: right; }
.oa { overflow: auto; }
.oh { overflow: hidden; }
.os { overflow: scroll; }
.ov { overflow: visible; }
.vb { vertical-align: bottom; }
.vc { vertical-align: middle; }
.vt { vertical-align: top; }
.fw { width: 100%; }
.fh { height: 100%; }
.nowrap { white-space: nowrap; }

/** Clearfix by some genius **/
.cf:before, .cf:after { content: ""; display: table; }
.cf:after { clear: both }
.cf { zoom: 1 }
